@import "packages/bourbon/bourbon";

$colorBackground: rgb(31, 32, 33);
$colorMars: rgb(242, 101, 87);
$colorEarth: rgb(64, 160, 226);

html,
body {
  background-color: $colorBackground;
  color: #F0F0F0;
}

[data-location="Earth"] {
  color: $colorEarth;
}

[data-location="Mars"] {
  color: $colorMars;
  text-align: right;
}
