@import "packages/bourbon/bourbon";

$colorForeground: #F0F0F0;
$colorMidground:  #666;
$colorBackground: #222;
$colorMars: red;
$colorEarth: blue;

$fontSizeBase: 16px;

@include keyframes(travel) {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

* {
  @include box-sizing(border-box);
}

html,
body {
  background-color: $colorBackground;
  color: $colorForeground;
  font-size: $fontSizeBase;
  line-height: 1.5;
}

.distance {
  @include position(fixed, 0 2em 2em 2em);
  height: 2em;

  .mars,
  .earth {
    $size: 2em;
    @include size($size);
    border-radius: $size / 2;
  }

  .mars {
    @include position(absolute, 0px 0 0 0px);
    background-color: $colorMars;
  }

  .earth {
    @include position(absolute, 0px 0px 0 0);
    background-color: $colorEarth;
  }

  .marker {
    $width: 2.5em;
    @include animation(travel 540s linear);
    @include position(absolute, 0px 0 0 0);
    @include size($width 100%);
    background-color: $colorMidground;
    border-radius: 2px;
    margin: 0 2em;
  }
}

